.content {
    margin-left: 250px;
    padding: 0;
    transition: margin-left 0.3s ease;
    font-family: "League Spartan", sans-serif;
    border-bottom: 1px solid #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.user-profile {
    top: 20px;
    display: flex;
    align-items: center;
    padding: 39px 25px;
    justify-content: flex-end;
}

.profile-name {
    padding-right: 20px;
    font-weight: 900;

    .btn-profile {
        padding: 12px 32px;
        font-size: 18px;
        cursor: pointer;
        font-weight: 100;
        border: 2px solid #080808;
        background-color: #080808;
        color: #fff;
        border-radius: 12px;
    }
}

.profile-icon {
    
    width: 46px; 
    height: 46px;
    border-radius: 50%;
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 20%;
    border: 1px solid #000000;
    width: 50%;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #f6f6f6;

    .search-icon {
        width: 20px;
    }
}

.search-input {
    position: relative;
    font-size: 15px;
    padding-right: 30px;
    width: 50%;
    border: none;
    background-color: #f6f6f6;
    z-index: 1;

    &:focus {
        outline: none;
    }
}
